.wrap {
    width: 800px;
    margin: auto;
}

.contents1 {
  display: flex;
  background-color: green;
  padding: 15px;
}

.contents1Personal {
  margin-right: 15px;
  padding: 15px;
  background-color: red;
}

.contents1Thamb {
  width: 150px;
  height: 150px;
  margin-bottom: 15px;
}

.contents1SnsGroup {
  width: 150px;
  height: 50px;
  background-color: brown;
}

.contents1Desc {
  width: 545px;
  background-color: orange;
  padding: 15px;
}

.contents2 {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  background-color: green;
  padding: 15px;
}

.contents2Box {
    width: 150px;
    height: 150px;
    margin-right: 15px;
    background-image: url("https://fakeimg.pl/150x150/000000");
}

.contents2Box:last-child {
    margin-right: 0;
}

@media screen and (max-width:480px) {
  .wrap {
    width: 100%;
  }

  .contents1 {
    flex-wrap: wrap;
  }

  .contents1Personal {
    width: 100%;
    margin-right: 0;
    margin-bottom: 15px;
  }

  .contents1Thamb {
    width: 100%;
    height: auto;
  }

  .contents1Thamb img {
    width: 100%;
  }

  .contents1SnsGroup {
    width: 100%;
  }

  .contents2 {
    display: block;
  }

  .contents2Box {
    margin: auto;
    margin-bottom: 15px;
    width: 200px;
    height: 200px;
    background-repeat: no-repeat;
    background-size: 100%;
  }

  .contents2Box:last-child {
    margin-right: auto;
    margin-bottom: 0;
  }

}